<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BookSwap"
        android:theme="@style/Theme.BOOKSWAP">

        <!-- Splash Screen -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Login -->
        <activity
            android:name=".auth.LoginActivity"
            android:exported="true" />

        <!-- Signup -->
        <activity
            android:name=".auth.SignupActivity"
            android:exported="true" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <!-- Book Details Activity -->
        <activity
            android:name=".BookDetailsActivity"
            android:exported="true" />

        <!-- Admin Activities -->
        <activity
            android:name=".admin.AdminMainActivity"
            android:exported="true" />

        <activity
            android:name=".AdminDashboardActivity"
            android:exported="true" />

        <activity
            android:name=".AdminManageUsersActivity"
            android:exported="true" />

        <activity
            android:name=".AdminManageBooksActivity"
            android:exported="true" />

    </application>


</manifest>
